table {
   /* border-collapse: collapse; */
}

.table-header {
   padding: 15px 5px;
   border: 1px solid;
}

.table-cell {
   border: 0.5px solid;
}

.balance {
   text-align: right;
   font-weight: bold;
}

.button-debt {
   background: #3c93ec;
   color: #FFFFFF;
   font-size: 14px;
}
